In [2]:
import boto3
import pandas as pd
import redis
from io import StringIO
import numpy
import csv

In [4]:
# S3 client from the session
session = boto3.Session(
    region_name='us-east-1'
)

s3_client = session.client('s3')

bucket_name = 'k8s-class-2024'
object_name = 'GroupeE_data.csv'

# Fetch the CSV data using boto3

def read_partial_csv(bucket_name, object_name, n_col=11):
    """Reads a CSV from S3, yielding rows with the specified number of columns."""

    response = s3_client.get_object(Bucket=bucket_name, Key=object_name)

    # Use a generator to read lines without loading the whole file
    csv_string_generator = (line.decode('utf-8') for line in response['Body'].iter_lines())
    csv_reader = csv.reader(csv_string_generator, delimiter=';')  # Replace with your delimiter
    for row in csv_reader:
        yield row[:n_col]  # Yield only the first num_columns

In [5]:
df = pd.DataFrame(read_partial_csv(bucket_name, object_name))

In [7]:
df.set_index(0, inplace=True)

In [17]:
df = df.transpose()

In [22]:
df.set_index("DATETIME", inplace=True)

KeyError: "None of ['DATETIME'] are in the columns"

In [21]:
df

,2021-01-04T00:15:00.000+01:00,2021-01-04T00:30:00.000+01:00,2021-01-04T00:45:00.000+01:00,2021-01-04T01:00:00.000+01:00,2021-01-04T01:15:00.000+01:00,2021-01-04T01:30:00.000+01:00,2021-01-04T01:45:00.000+01:00,2021-01-04T02:00:00.000+01:00,2021-01-04T02:15:00.000+01:00,2021-01-04T02:30:00.000+01:00,...,2022-12-30T21:45:00.000+01:00,2022-12-30T22:00:00.000+01:00,2022-12-30T22:15:00.000+01:00,2022-12-30T22:30:00.000+01:00,2022-12-30T22:45:00.000+01:00,2022-12-30T23:00:00.000+01:00,2022-12-30T23:15:00.000+01:00,2022-12-30T23:30:00.000+01:00,2022-12-30T23:45:00.000+01:00,2022-12-31T00:00:00.000+01:00
DATETIME,,,,,,,,,,,,,,,,,,,,,
424661,0.212,0.223,0.261,0.144,0.198,0.214,0.196,0.135,0.155,0.206,...,,,,,,,,,,
424665,5.7120000000000015,5.6720000000000015,5.6670000000000025,5.635,5.6720000000000015,5.6670000000000025,5.657,5.7010000000000005,5.71,5.7,...,3.879,3.864,3.761,3.876,3.888,3.806,3.573,3.436,3.476,3.484
424668,0.147,0.1889999999999999,0.134,0.136,0.205,0.13,0.1369999999999999,0.206,0.128,0.142,...,0.454,0.669,0.17,0.209,0.776,0.12,0.142,0.165,0.167,0.139
424670,0.2,0.2,0.201,0.2,0.2,0.2,0.1989999999999999,0.2,0.2,0.2,...,0.131,0.176,0.129,0.06,0.061,0.057,0.056,0.069,0.145,0.144
424671,0.2239999999999999,0.237,0.198,0.221,0.147,0.057,0.054,0.032,0.063,0.036,...,0.057,0.034,0.035,0.034,0.034,0.034,0.034,0.052,0.071,0.034
424674,0.586,1.422,2.536,2.517,6.591,5.63,5.557,6.593999999999999,7.791,7.883999999999999,...,6.595,6.475,6.407,6.412,6.421,6.442,4.44,0.666,0.598,0.582
424675,1.288,0.325,1.399,2.146,3.406,2.505,2.755,0.293,1.25,1.757,...,0.314,1.235,1.521,2.53,2.423,0.249,0.282,0.26,0.288,0.268
424676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
424677,1.351,1.375,2.361,3.388,4.006,1.265,0.96,1.769,0.927,0.943,...,0.767,0.775,0.836,0.84,0.835,0.777,0.776,0.777,0.807,0.787
424678,0.5870000000000001,0.58,0.195,0.223,0.645,0.2019999999999999,0.659,0.211,0.223,0.6629999999999999,...,0.014,0.014,0.014,0.021,0.061,0.054,0.112,0.801,0.509,0.234

In [24]:
for index, row in df.iterrows():
    print(index)
    print(row)
    break

424661
0
2021-01-04T00:15:00.000+01:00    0.212
2021-01-04T00:30:00.000+01:00    0.223
2021-01-04T00:45:00.000+01:00    0.261
2021-01-04T01:00:00.000+01:00    0.144
2021-01-04T01:15:00.000+01:00    0.198
                                 ...
2022-12-30T23:00:00.000+01:00
2022-12-30T23:15:00.000+01:00
2022-12-30T23:30:00.000+01:00
2022-12-30T23:45:00.000+01:00
2022-12-31T00:00:00.000+01:00
Name: 424661, Length: 69601, dtype: object